<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Generative AI</title>
        <link rel="stylesheet" href="../static/css/style.css" filename='css/style.css'>
    </head>
    <body>
        <div class="container">
            <div class="header-container">
                <button id="backButton" class="back-arrow hidden" onclick="showForm()">←</button>
                <h1>AI Assistant</h1>
            </div>
            <div id="formContainer">
                <select id="optionSelect" onchange="updateForm()">
                    <option value="" selected disabled>Seleziona un'opzione</option>
                    <option value="creareFavola">Creare una favola</option>
                    <option value="rispondereDomanda">Rispondere ad una domanda</option>
                    <option value="rispondereDomandaImg">Rispondere ad una domanda su un file img</option>
                </select>
    
                <form id="dynamicForm" onsubmit="submitForm(event)">
                    <div id="argomentoContainer" class="hidden">
                        <label for="argomento">Argomento:</label>
                        <input type="text" id="argomento" name="argomento" required placeholder="">
                    </div>
    
                    <div id="filePathContainer" class="hidden">
                        <label for="filePath">Scegli un'immagine:</label>
                        <input type="file" id="filePath" name="filePath" accept="image/*">
                    </div>
    
                    <div id="buttonsContainer" class="hidden">
                        <button type="submit">Invia</button>
                        <button type="button" class="cancel" onclick="resetForm()">Annulla</button>
                    </div>
                </form>
            </div>
            <div id="resultContainer" class="result-container hidden">
                <img id="uploadedImage" class="uploaded-image hidden" alt="Uploaded image">
                <div id="resultContent"></div>
                <div class="nav-arrows">
                    <button onclick="scrollToTop()">↑</button>
                    <button onclick="scrollToBottom()">↓</button>
                </div>
            </div>
        </div>
        <script src="../static/js/script.js" filename='js/script.js'></script>
    </body>
</html>